* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* :root{
    --color-bg: #1f1f38;
    --color-bg-variant: teal;
    --color-primary: #b2ddb7;
    --color-white: #fff;
    --color-light: hsla(0, 0%, 100%, .6);
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
    --transition: all 400ms ease;


} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  background: #1f1f38;
  color: #ffff;
  line-height: 1.7;
  background-image: url(/src/assets/bg-texture.png);
}

/* Header */
.container {
  margin: 0 auto;
  width: 75%;
}
header {
  height: 100vh;
  overflow: hidden;
  padding-top: 7rem;
}
.head_container {
  height: 100%;
  position: relative;
  text-align: center;
}

/* Lets Connect button */
.cnnt_btn {
  margin-top: 2.4em;
}
.btn {
  border: 1px solid;
  border-radius: 10px;
  padding: 1em 1.5em;
}
.btn-connect {
  align-items: center;
  background: turquoise;
  color: black;
}

/* Header Socials */
.headersocial {
  font-size: 2em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* align-items: center;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: .8rem;
  left: 0;
  position: absolute; */
}

.headersocial a {
  color: turquoise;
  padding-right: 5px;
}

/* Own Image */
.own-image {
  background: linear-gradient(turquoise 0%, transparent 110%);
  border-radius: 2rem;
  height: 24rem;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  padding: 3em 1.5em;
  position: absolute;
  width: 22rem;
}
.own-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: inherit;
}

/* Footer */

footer{
  margin-top: 6em;
  /* padding: 2em 0 1em 0; */
  padding: 18px 0 1px 0;;
  text-align: center;
  background: turquoise;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-socials a{
  background-color: black;
  color: whitesmoke;
  padding: 11px;
  transition: all 400ms ease;
}

.footer-socials a:hover{
  background: turquoise;
  color: black;
  border-color: turquoise;
}


.copyright {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: black;
}
